NEXT_PUBLIC_GTM =
NEXT_PUBLIC_APP_URL = "http://localhost:3000"
# TELEGRAM_BOT_TOKEN = 
# TELEGRAM_CHAT_ID = 
GMAIL_PASSKEY ="yhsmfmsahgbnimgc"
EMAIL_ADDRESS ="kishankumawat1271@gmail.com"


MAIL_HOST=smtp.gmail.com
MAIL_USER=kishankumawat1271@gmail.com
MAIL_PASS=yhsmfmsahgbnimgc